.bloco-esquerdo{
    background-color: rgba(60, 179, 113, 1);
    display: flexbox;
    height: 100vh;
    width: 40vw;
    margin-top: -16px;
    margin-left: -8px;
    margin-bottom: -10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.paragrafo-bloco-esquerdo{
    padding: 60px;
}

.texto-bem-vindo{
     font-size: 2em;
     color: white;
     font-family:Poppins;
     text-align: center;
}

.texto-2{
    font-size: 1,5em;
     color: white;
     font-family:Poppins;
     font-weight: normal;
     text-align: center;
     margin-top: -20px;
}

.texto-3{
    font-size: 1,2em;
    color: white;
    font-family:Poppins;
    font-weight: normal;
    text-align: center;
    margin-top: -20px;
}

.texto-4{
    font-size: 1,2em;
    color: white;
    font-family:Poppins;
    font-weight: normal;
    text-align: center;
    margin-top: -20px;
}